@media (max-width: 403px){
    #feedbacks{
        padding-top: 70px;
    }
}
@media (max-width: 768px) {
    .img-sobre {
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }
    .feedback{
        flex-wrap: wrap;
    }
    .contato-footer .container {
        flex-direction: row; /* Retorna ao layout horizontal em telas maiores */
        text-align: left; /* Alinha os textos à esquerda */
        justify-content: space-between; /* Espaça os itens de forma uniforme */
    }
}
@media (max-width: 992px){
    #servicos{
        padding-top: 60px;
    }
}

