@media (max-width: 403px){
    
    .feedbacks-container{
        padding-top: 6rem;
    }
    .servicos-container{
        padding-top: 2rem;
    }
    .contact-container{
        padding-top: 4rem;
    }
    .about-container{
        padding-top: 3rem;
    }

}
@media (max-width: 768px) {
    
    .feedback{
        flex-wrap: wrap;
    }
    .contato-footer .container {
        flex-direction: row; /* Retorna ao layout horizontal em telas maiores */
        text-align: left; /* Alinha os textos à esquerda */
        justify-content: space-between; /* Espaça os itens de forma uniforme */
    }
    .sobre{
        padding-top: 40px;
    }
}
@media (max-width: 992px){
    #servicos{
        padding-top: 6rem;
    }
}

